html {
    scroll-behavior: smooth;
}
.navbar {
    top: 0;
    display: flex;
    align-items: center;
    color: white;
    height: 64px;
    font-weight: 300;
    font-family: 'Poppins Light', sans-serif;
    font-size: 12px;
    position: fixed;
    min-height: 59px;
    width: 100%;
    flex-wrap: wrap;
    z-index: 4;
    transition: background-color .3s ease;
    will-change: transform;
    padding: 10px 20px;
}
.navbarMove {
    background-color: #1c1d21;
}
.logo {
    display: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: -2px;
    padding: 10px 20px;
    font-family: 'Neuzeit Grotesk Bold', sans-serif
}
@media (min-width: 400px) {
    .logo {
        display: block; 
    }
}
.site-nav {
    margin: 0 auto;
    background: transparent;
    text-align: center;
    transition: background-color .3s ease;
}
.site-nav a {
    color: #E2E6E7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 1.2px;
    font-size: 10px;
    padding: 14px 11px;
}
@media (min-width: 450px) {
    .site-nav a {
    font-size: 12px;
    }
}
.site-nav a:hover {
    color: white;
    text-decoration: none;
}
.site-nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
}
.nav-social {
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
}
header .fab {
    display: none;
    font-size: 30px;
    color: white;
}
.btn:hover {
    color: white !important;
}
@media (min-width: 500px) {
    header .fab {
        display: block;
    }
}
.fab {
    font-size: 18px;
}
#welcome-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #141618;
    background-image: url(../img/apple-code-coding-574069.jpg);
    min-height: 600px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
#welcome-section::before {
    content: '';
    background-image: linear-gradient(180deg,rgba(0, 0, 0, .8) 0, transparent 50%, transparent 90%, rgba(0, 0, 0, .8));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    will-change: transform;
}
.intro-description {
    color: #fff;
    font-size: 220%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin: 10px auto 0;
    text-align: center;
    font-family: 'Poppins Bold', sans-serif;
}
.img-home {
    border-radius: 50%;
    margin: 30px 0 10px;
    max-width: 80%;
    height: auto;
    width: 250px;
}
.social-media {
    text-align: center;
    margin-top: 75px;
    position: relative;
    z-index: 2;
}
.projects {
    background-color: white;
    min-height: 600px;
    height: 100vh;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.projects-title {
    text-align: center;
}
.projects h2 {
    color: rgba(0, 0, 0, .1);
    text-align: center;
    margin: 80px 0 30px;
    font-size: 40px;
}
.projects a {
    border-bottom: 2px solid rgba(0, 0, 0, .4);
    color: #3b3b3b;
    text-decoration: none;
    transition: border .3s ease-in-out;
}
.skills {
    background-color: white;
    min-height: 600px;
    height: 100vh;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.skills-title {
    text-align: center;
}
.skills h2 {
    color: rgba(0, 0, 0, .1);
    text-align: center;
    margin: 0px 0 30px;
    font-size: 40px;
}
.jobs {
    background-color: white;
    min-height: 600px;
    height: 100vh;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.jobs-title {
    text-align: center;
}
.jobs h2 {
    color: rgba(0, 0, 0, .1);
    text-align: center;
    margin: 80px 0 30px;
    font-size: 40px;
}
.contact {  
    background-color: #1c1d21;
    min-height: 600px;
    height: 100vh;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.contact-title {
    color: white;
    text-align: center;
}
.contact-text {
    color: white;
    text-align: center;
}
.contact p {
    font-size: 2em;
    font-family: fantasy;
    margin-bottom: 5px;
}
.contact-buttons a {
    width: fit-content;
    display: grid;  
    height: 36px;
    margin: 0 auto
}
@media (min-width: 768px) {
    .contact-buttons {
        margin-top: 100px;
    }
}