a.button {
	-moz-box-align: center;
	align-items: center;
	background-color: transparent;
	display: inline-flex;
	cursor: pointer;
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	padding: 16px 32px;
	background-color: var(--orange-light);
	color: var(--dark-gray);
	border-radius: 10px;
	transition: transform 0.5s ease;
	text-transform: capitalize;
	justify-content: center;
	width: 21ch;
	align-self: center;
	margin: 3vh 0;
}
a.button:hover {
	transform: scale(1.1);
}
a.button svg {
	font-size: 18px;
	margin: 0 5px;
}
