.experiences {
	animation: 600ms ease 600ms 1 normal forwards running fade;
	display: flex;
	flex-direction: column;
	margin: 0px auto;
	width: 100%;
	background-color: var(--bg-color);
	opacity: 0;
}
@keyframes fade {
	0% {
		transform: translateY(5%);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.experiences h1 {
	width: 100%;
}
.experiences h2 {
	margin: 8vh 0 2vh;
}
.experiences .social-icons {
	background-color: rgb(255, 255, 255);
	border-radius: 6px;
	display: flex;
	-moz-box-pack: justify;
	justify-content: space-between;
	padding: 12px 16px;
	width: 100%;
	max-width: 240px;
	align-self: center;
}
.experiences .social-icons a {
	-moz-box-align: center;
	align-items: center;
	border-radius: 4px;
	display: inline-flex;
	height: 40px;
	-moz-box-pack: center;
	justify-content: center;
	vertical-align: middle;
	width: 40px;
	color: #000;
}
