.intro {
	height: 650px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.intro h1 span {
	font-family: "Rubik-BoldItalic";
	color: #fff;
}
.intro h1 {
	color: #3ebd93;
	font-family: "Rubik-Italic";
}
.intro h3 {
	color: #fff;
}
.intro h3 span {
	color: #ffe88c;
}
