header {
	display: flex;
	padding-top: 2rem;
	padding-bottom: 1rem;
	height: 87px;
	background-color: #fff;
}
header .wrapper {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	background-color: #fff;
	transition: background-color 0.1s ease-out, transform 0.8s ease-out;
	z-index: 2;
	transition: transform 600ms ease 0s;
	justify-content: space-between;
}
header .wrapper .logo {
	opacity: 1;
	transition: ease-in opacity 3s;
}
header .wrapper .logo h2 {
	height: 100%;
	font-weight: 700;
	letter-spacing: 0px;
	line-height: 28px;
	text-align: left;
	text-transform: uppercase;
}
header .wrapper .case {
	color: var(--orange);
	display: flex;
	align-items: center;
	transition: opacity 0.15s ease-in;
}
header .wrapper .case:hover {
	opacity: 0.7;
}
header .wrapper .case:hover svg {
	opacity: 0.7;
}
