@font-face {
	font-family: "Rubik-Regular";
	src: url("../../fonts/Rubik-Regular.ttf");
}

@font-face {
	font-family: "Rubik-Italic";
	src: url("../../fonts/Rubik-Italic.ttf");
}

@font-face {
	font-family: "Rubik-BoldItalic";
	src: url("../../fonts/Rubik-BoldItalic.ttf");
}

@font-face {
	font-family: "Rubik-Bold";
	src: url("../../fonts/Rubik-Bold.ttf");
}
html {
	font-size: 20px;
	font-family: "Rubik-Regular", sans-serif;
	position: fixed;
	width: 100%;
	height: 100%;
}
.layout {
	background-color: #1b85a8;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.layout canvas {
	position: fixed;
}
.layout h1 {
	font-size: 1.6rem;
	font-weight: lighter;
	letter-spacing: -1.5px;
}

.layout h2 {
	font-size: 1.1rem;
	font-weight: lighter;
	letter-spacing: -0.5px;
}

.layout p {
	font-size: 1rem;
	font-weight: normal;
	letter-spacing: 0.5px;
}

a {
	text-decoration: none;
}

.layout .container {
	padding: 0px 24px;
}
footer {
	background-color: #ffe88c;
}
footer a {
	color: #1b85a8;
}
