@font-face {
	font-family: "Rubik-Regular";
	src: url("../../fonts/Rubik-Regular.ttf");
}

@font-face {
	font-family: "Rubik-Italic";
	src: url("../../fonts/Rubik-Italic.ttf");
}

@font-face {
	font-family: "Rubik-BoldItalic";
	src: url("../../fonts/Rubik-BoldItalic.ttf");
}

@font-face {
	font-family: "Rubik-Bold";
	src: url("../../fonts/Rubik-Bold.ttf");
}

html,
body {
	box-sizing: border-box;
	font-size: 16px;
	overflow-x: hidden;
	--red: #ed4934;
	--orange: #f5882d;
	--orange-light: #ffc799;
	--blue: #1b9393;
	--blue-light: #a6f2f2;
	--bg-color: #fff;
	--gray: #777;
	--near-black: #493e36;
	--dark-gray: #4d3d33;
	--light-gray: #eee;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
a,
h1,
h2,
h3,
h4,
h5,
p,
strong,
span,
li,
input,
body,
html,
input,
button {
	font-family: "Rubik-Regular", sans-serif !important;
}
#root {
	max-width: 960px;
	margin: 0 auto;
	padding: 40px 20px;
}
img,
video {
	height: auto;
	max-width: 100%;
}
iframe {
	border: 0;
}
body {
	overflow-x: hidden;
}
.layout {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--bg-color);
	padding: 0px 4vw;
}
.layout canvas {
	position: fixed;
}
.layout h1,
h2,
h3,
h4,
p {
	color: var(--near-black);
}
.layout h1 {
	font-size: 2.3rem;
	font-weight: lighter;
	letter-spacing: 0.5px;
}

.layout h2 {
	font-size: 1.2rem;
	font-weight: lighter;
	letter-spacing: -0.5px;
}
.layout h3 {
	font-size: 1.1rem;
	font-weight: normal;
	letter-spacing: -0.5px;
}
.layout h4 {
	font-size: 0.7rem;
	font-weight: normal;
	letter-spacing: -0.5px;
}
.layout p {
	font-size: 1rem;
	font-weight: normal;
	letter-spacing: 0.5px;
}

a {
	text-decoration: none;
	box-shadow: none;
}

@media (min-width: 970px) {
	html,
	body {
		font-size: 20px;
	}

	.layout {
		padding: 0 10vw;
	}
}
