@font-face {
	font-family: "Rubik-Regular";
	src: url("../../fonts/Rubik-Regular.ttf");
}

@font-face {
	font-family: "Rubik-Italic";
	src: url("../../fonts/Rubik-Italic.ttf");
}

@font-face {
	font-family: "Rubik-BoldItalic";
	src: url("../../fonts/Rubik-BoldItalic.ttf");
}

@font-face {
	font-family: "Rubik-Bold";
	src: url("../../fonts/Rubik-Bold.ttf");
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}
ul {
	list-style: none;
}
button,
input,
select,
textarea {
	margin: 0;
}
html,
body {
	box-sizing: border-box;
	font-size: 16px;
	overflow-x: hidden;
	--red: #ed4934;
	--orange: #f5882d;
	--orange-light: #ffc799;
	--blue: #1b9393;
	--blue-light: #a6f2f2;
	--bg-color: #fff;
	--gray: #777;
	--near-black: #493e36;
	--dark-gray: #4d3d33;
	--light-gray: #eee;
}
a,
h1,
h2,
h3,
h4,
h5,
p,
strong,
span,
li,
input,
button {
	font-family: "Rubik-Regular", sans-serif !important;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
img,
video {
	height: auto;
	max-width: 100%;
}
iframe {
	border: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td,
th {
	padding: 0;
}
td:not([align]),
th:not([align]) {
	text-align: left;
}
body {
	overflow-x: hidden;
}
.layout {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--bg-color);
	padding: 0px 10vw;
}
.layout canvas {
	position: fixed;
}
.layout h1,
h2,
h3,
h4,
p {
	color: var(--near-black);
}
.layout h1 {
	font-size: 1.6rem;
	font-weight: lighter;
	letter-spacing: -1.5px;
}

.layout h2 {
	font-size: 1.2rem;
	font-weight: lighter;
	letter-spacing: -0.5px;
}
.layout h3 {
	font-size: 1.1rem;
	font-weight: normal;
	letter-spacing: -0.5px;
}
.layout p {
	font-size: 1rem;
	font-weight: normal;
	letter-spacing: 0.5px;
}

a {
	text-decoration: none;
	box-shadow: none;
}

.container {
	padding: 24px;
}
