.techs {
  background-color: #fff;
}

.techs .tab-title {
  display: flex;
  flex-direction: column;
}

.techs .tabs-title {
  display: flex;
  justify-content: space-between;
}

.techs .tabs-title h4 {
  color: #3ebd93;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

.techs .techs-section {
  display: flex;
}

.techs .tech {
  width: 33%;
  padding: 0 10px;
  display: flex;
}

.techs .tech .icon {
  font-size: 40px;
  text-align: center;
}

.techs .tech h4 {
  text-align: center;
  margin: 15px 0;
}

.techs .tech p {
  text-align: center;
  color: #00000096;
}

.disabled {
  background-color: #00000096;
}
