header {
	display: flex;
	height: 60px;
}
header .wrapper {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	background-color: #fff;
	transition: background-color 0.1s ease-out, transform 0.8s ease-out;
	z-index: 2;
	transition: transform 600ms ease 0s;
}
header .wrapper.click {
	transform: translate3d(-72%, 0px, 0px);
}
header .wrapper .logo {
	font-weight: 700;
	letter-spacing: 0px;
	line-height: 28px;
	text-align: left;
	flex: 1;
	margin-left: 1.2rem;
	color: #292f35;
	font-family: "Rubik-Bold", sans-serif;
}
header .wrapper .icon {
	height: 100%;
	display: flex;
	align-items: center;
	color: #484848;
	transition: transform 0.3s ease-out, opacity 0.3s,
		-webkit-transform 0.3s ease-out;
	padding: 1rem;
	cursor: pointer;
	background-color: #be4242;
	border: none;
	outline: none;
}
header .wrapper .icon.move {
	pointer-events: all;
	opacity: 1;
	cursor: pointer;
	transform: translate3d(0%, 0, 0);
}
header .wrapper .icon.click {
	pointer-events: all;
	opacity: 1 !important;
	cursor: pointer;
	transform: translate3d(0%, 0, 0) !important;
}
header .aside {
	height: 100vh;
	display: flex;
	flex-direction: column;
	width: calc(80% - 24px);
	align-items: center;
	position: absolute;
	background-color: #292f35;
	padding-top: 100px;
	transform: translate3d(137%, 0%, 0);
	transition: transform 600ms ease 0s;
	z-index: 2;
}

header .aside a {
	color: #e8e8e8;
	font-weight: 700;
	height: 44px;
	margin: 0px 12px;
	padding: 0px 16px;
	position: relative;
	display: flex;
	align-items: center;
}
header .aside a:hover {
	color: #fff;
}
header .aside-menu a::after {
	background-color: #be4242;
	content: "";
	width: 5px;
	opacity: 0;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
}
header .aside .aside-menu {
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
header .aside .social-icons {
	display: flex;
	justify-content: space-around;
	margin-top: 75px;
	width: 100%;
}
header .aside.click {
	transform: translate3d(38%, 0px, 0px);
}
header ul {
	display: none;
}

@media (min-width: 1140px) {
	header {
		height: 80px;
	}
	header .wrapper {
		display: grid;
		grid-template-columns: 240px 1fr 240px;
	}
	header .wrapper ul {
		display: flex;
		justify-content: center;
	}
	header .wrapper li a {
		display: flex;
		align-items: center;
		color: #292f35;
		font-size: 1rem;
		position: relative;
		margin: 0 1rem;
		height: 44px;
		outline: none;
	}
	header ul .wrapper li:hover a::after {
		width: 1.6rem;
	}
	header ul .wrapper li a::after {
		content: "";
		position: absolute;
		bottom: -0.5rem;
		left: 0;
		width: 0;
		height: 0.15rem;
		background-color: #008489;
		-webkit-transition: width 0.2s;
		transition: width 0.2s;
	}
	header .wrapper .social-icons {
		display: flex;
		justify-content: space-around;
		height: 100%;
		align-items: center;
		background: #be4242;
	}
	header .wrapper .social-icons a {
		color: #fff;
	}
	header .wrapper .icon {
		display: none;
	}
}
