header {
	display: flex;
	padding-top: 2rem;
	padding-bottom: 1rem;
	height: 87px;
	background-color: #fff;
}
header .wrapper {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
	background-color: #fff;
	transition: background-color 0.1s ease-out, transform 0.8s ease-out;
	z-index: 2;
	transition: transform 600ms ease 0s;
	justify-content: space-between;
}
header .wrapper.click {
	transform: translate3d(-80%, 0px, 0px);
	height: 100vh;
}
header .wrapper .logo {
	opacity: 1;
	transition: ease-in opacity 3s;
}
header .wrapper .logo h2 {
	height: 100%;
	font-weight: 700;
	letter-spacing: 0px;
	line-height: 28px;
	text-align: left;
	text-transform: uppercase;
}
header .wrapper .logo.click {
	opacity: 0;
	width: 100%;
	height: 100%;
	padding-top: 0.35rem;
}
header .wrapper .logo:hover {
	opacity: 0.7;
}
header .wrapper .icon {
	height: 100%;
	display: flex;
	align-items: center;
	color: var(--near-black);
	transition: transform 0.3s ease-out, opacity 0.3s,
		-webkit-transform 0.3s ease-out;
	padding: 1.5rem 0rem 1.5rem 1.5rem;
	cursor: pointer;
	background-color: var(--bg-color);
	border: none;
	outline: none;
}
header .wrapper .icon.click {
	pointer-events: all;
	opacity: 1 !important;
	cursor: pointer;
	padding-top: 0.6rem;
	transform: translate3d(-5%, 0, 0) !important;
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: flex-end;
}
header .aside {
	height: 100vh;
	display: flex;
	flex-direction: column;
	width: 80vw;
	align-items: center;
	position: fixed;
	background-image: linear-gradient(var(--bg-color) 10%, var(--orange-light));
	padding-top: 70px;
	transform: translate3d(125%, 0%, 0);
	transition: transform 600ms ease 0s;
	z-index: 2;
}
header .aside.click {
	transform: translate3d(20%, 0px, 0px);
}
header .aside a {
	color: var(--dark-gray);
	font-weight: 700;
	height: 44px;
	margin: 0px 12px;
	padding: 0px 16px;
	position: relative;
	display: flex;
	align-items: center;
	transition: opacity 0.15s ease-in;
	opacity: 1;
}
header a:hover,
header a:hover svg {
	opacity: 0.7;
}
header .aside-menu a::after {
	background-color: #1b85a8;
	content: "";
	width: 5px;
	opacity: 0;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
}
header .aside .aside-menu {
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
header .aside .social-icons {
	display: flex;
	justify-content: space-around;
	margin-top: 75px;
	width: 100%;
}
header .wrapper .menu {
	display: none;
}
header .wrapper .social-icons {
	display: none;
}
@media (min-width: 768px) {
	header .aside {
		transform: translate3d(125%, 0, 0);
	}
}
@media (min-width: 1140px) {
	header .wrapper {
		justify-content: flex-end;
	}
	header .wrapper .menu {
		display: flex;
		justify-content: flex-end;
		flex: 1;
	}
	header .wrapper li a {
		display: flex;
		align-items: center;
		color: var(--gray);
		font-size: 1rem;
		position: relative;
		margin: 0 1rem;
		height: 44px;
		outline: none;
	}
	header .wrapper li:hover a::after {
		width: 1.6rem;
	}
	header .wrapper li a::after {
		content: "";
		position: absolute;
		bottom: -0.5rem;
		left: 0;
		width: 0;
		height: 0.15rem;
		background-color: var(--orange-light);
		-webkit-transition: width 0.2s;
		transition: width 0.2s;
	}
	header .wrapper .social-icons {
		display: flex;
	}
	header .wrapper .social-icons a {
		height: 48px;
		width: 48px;
		margin: 0 0 0 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--gray);
	}
	header .wrapper .social-icons a svg {
		font-size: 24px;
	}
	header .wrapper .icon {
		display: none;
	}
}
