.intro {
	animation: 600ms ease 600ms 1 normal forwards running intro;
	display: flex;
	flex-direction: column;
	opacity: 0;
	width: 100%;
}
.intro .background {
	align-self: flex-start;
	position: absolute;
	width: 85%;
	height: 70%;
	background-position: center;
	background-size: cover;
	background-image: linear-gradient(to bottom, #fff 10%, #fd7e1512),
		url("../../images/vinidois.jpg");
}
@keyframes intro {
	0% {
		transform: translateY(5%);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.intro h1 {
	font-family: "Rubik-Bold", sans-serif !important;
	color: var(--dark-gray);
	font-weight: 500;
	line-height: 35px;
	text-align: right;
	margin-bottom: 16px;
	margin-top: 60px;
	padding: 0 1vw;
	max-width: 20ch;
	z-index: 2;
	align-self: center;
}
.intro .description {
	display: flex;
	flex-direction: column;
	align-self: flex-end;
}
.intro h3 {
	font-weight: 400;
	letter-spacing: 0px;
	margin-top: 55vh;
}
@media (min-width: 970px) {
	.intro {
		flex-wrap: wrap;
		flex-direction: row;

		justify-content: space-between;

		align-items: flex-start;

		margin-bottom: 5vh;
	}

	.intro .background {
		width: 35vw;
		height: 40vw;
		margin-top: 10vh;
		position: relative;
		max-height: 600px;
	}
	.intro .description {
		width: 40%;
		margin-bottom: 10vh;
	}
	.intro h1 {
		font-size: 3rem;
		text-align: left;
		line-height: 55px;
		align-self: center;
		margin: 15vh 10vw;
		position: absolute;

		top: 0;
	}

	.intro h3 {
		align-self: flex-end;
		margin-top: 20vh;
	}
}
