.background {
	display: flex;
	justify-content: center;
	background: url("../../images/park-lights-on.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-filter: brightness(0.6) contrast(1.5);
	animation: 4s ease 4s 1 normal forwards running background;
}
.intro {
	-moz-box-align: center;
	align-items: center;
	animation: 600ms ease 600ms 1 normal forwards running intro;
	display: flex;
	flex-direction: column;
	max-width: 32ch;
	opacity: 0;
	height: 80vh;
	margin-top: 110px;
	align-self: center;
	padding: 0px 24px;
}
@keyframes intro {
	0% {
		transform: translateY(5%);
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes background {
	0% {
		-webkit-filter: brightness(0.6) contrast(1.5);
	}
	100% {
		-webkit-filter: brightness(1.4) contrast(1.1) opacity(0.9) saturate(1.2);
	}
}
.intro h1 {
	color: #fff;
	font-weight: 700;
	line-height: 44px;
	text-align: center;
	margin-bottom: 16px;
}
.intro p {
	font-weight: 400;
	letter-spacing: 0px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	margin-bottom: 32px;
}
