.content {
	display: flex;
	flex-direction: row;
}
.experience {
	display: flex;
	flex-direction: column;
	height: 100%;
	-moz-box-pack: center;
	justify-content: center;
}
.experience .item {
	margin: 10px 0;
	display: flex;
}
.experience .info-item {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	align-items: flex-start;
	width: 100%;
	background-color: var(--bg-color);
	border-radius: 0 0 10px 10px;
}
.experience .info-item .title {
	align-items: flex-start;
	display: flex;
	-moz-box-pack: justify;
	justify-content: space-between;
	width: 100%;
	flex-flow: column wrap;
	margin-bottom: 12px;
}
.experience .info-item .title h3 {
	font-weight: 700;
	line-height: 44px;
	color: #292f35;
}
.experience .info-item .category {
	display: flex;
	flex-wrap: wrap;
}
.experience .info-item .category p {
	margin: 0 1vh 1vh 0;
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	padding: 6px 8px;
	border-radius: 4px;
	background-color: #31373e;
	color: #ffd24e;
}
.experience .info-item .description {
	font-size: 0.8rem;
	font-weight: 400;
	letter-spacing: 0;
	text-align: left;
	line-height: 28px;
	color: #292f35;
	margin-bottom: 12px;
}
.experience .timeline {
	-webkit-transition: top 0.3s ease-out;
	transition: top 0.3s ease-out;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
}
.timeline ul {
	list-style: none;
	list-style-position: inside;
	margin: 1vh 0;
}
.timeline ul li {
	margin: 2vh 0;
	padding-left: 0;
	list-style-type: none;
	color: #bfc1c3;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.timeline ul li:hover {
	color: #000;
}
.timeline ul li:hover > .experience .info-item {
	background-color: #000;
}

@media (min-width: 768px) {
	.experience {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;
	}
	.experience .item {
		width: 49%;
	}
	.experience .image-item {
		height: 25vw;
	}
}
@media (min-width: 1140px) {
	.experience .item {
		display: flex;
		width: 100%;
	}
	.experience .item .title {
		flex-flow: row;
		align-items: center;
	}
	.experience .info-item {
		width: 50%;
		justify-content: center;
	}
	.experience .timeline {
		width: 35%;
	}
}
