.experience {
	display: grid;
	flex-direction: column;
	height: 100%;
	-moz-box-pack: center;
	justify-content: center;
	gap: 24px;
}
.experience .image-item {
	height: 50vw;
	background-color: #31373e;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px 10px 0 0;
}
.experience .info-item {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	align-items: flex-start;
	padding: 32px;
	width: 100%;
	background-color: #ffd24e;
	border-radius: 0 0 10px 10px;
}
.experience .info-item .title {
	align-items: flex-start;
	display: flex;
	-moz-box-pack: justify;
	justify-content: space-between;
	width: 100%;
	flex-flow: column wrap;
	margin-bottom: 12px;
}
.experience .info-item .title h3 {
	font-weight: 700;
	line-height: 44px;
	color: #292f35;
}
.experience .info-item .category {
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	padding: 6px 8px;
	border-radius: 4px;
	background-color: #31373e;
	color: #ffd24e;
}
.experience .info-item .description {
	font-size: 0.8rem;
	font-weight: 400;
	letter-spacing: 0;
	text-align: left;
	line-height: 28px;
	color: #292f35;
	margin-bottom: 12px;
}
@media (min-width: 768px) {
	.experience .image-item {
		height: 25vw;
	}
}
@media (min-width: 930px) {
	.experience {
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 1140px) {
	.experience {
		grid-template-columns: none;
	}
	.experience .item {
		display: flex;
		flex-direction: row-reverse;
	}
	.experience .item .title {
		flex-flow: row;
		align-items: center;
	}
	.experience .item:nth-child(odd) {
		display: flex;
		flex-direction: row-reverse;
	}
	.experience .item:nth-child(odd) .image-item {
		border-radius: 0 10px 10px 0;
	}
	.experience .item:nth-child(odd) .info-item {
		border-radius: 10px 0 0 10px;
	}
	.experience .item:nth-child(even) {
		display: flex;
		flex-direction: row;
	}
	.experience .item:nth-child(even) .image-item {
		border-radius: 10px 0 0 10px;
	}
	.experience .item:nth-child(even) .info-item {
		border-radius: 0 10px 10px 0;
	}
	.experience .image-item {
		width: 50%;
		min-height: 250px;
		height: auto;
	}
	.experience .info-item {
		width: 50%;
		justify-content: center;
	}
}
